@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: poppins;
}

.parte1Selecao {
    background-color: rgba(193, 217, 214, 1);
    width: 100%;
    min-height: 400px;
    height: auto;
    overflow: hidden;
}

.parte1Selecao h3 {    
    font-family: 'Poppins';
    font-size: 58px;
    margin-top: 120px;
    margin-right: 40px;
    margin-bottom: 0;
    color: rgba(18, 113, 84, 1);
}

.parte1Selecao p {
    text-align: right;
    text-justify: inter-word;
    width: 90%;
    margin-right: 40px;
    float: right;
    font-size: 200%;
    clear: both;
}




.parte1DireitaSelecao {
    width: 60%;
    height: 100%;
    float: left;
    text-align: right;
}

.parte1EsquerdaSelecao {

    width: 40%;
    height: 100%;
    float: left;
    text-align: start;
}

.parte1EsquerdaSelecao a {
    clear: both;
    display: block;
    margin-left: 40px;
    font-size: 40px;
    border: 5px solid rgba(47, 142, 142, 1);
    background-color: rgba(47, 142, 142, 1);
    border-radius: 0px 40px 40px 40px;
    width: 80%;
    text-align: center;
    color: white;
    font-weight: 500;
    transition: all 1s;
}

.parte1EsquerdaSelecao a:hover {
    border: 5px solid rgba(47, 142, 142, 1);
    background-color: rgba(193, 217, 214, 1);
    border-radius: 0px 40px 40px 40px;
    width: 90%;
    text-align: center;
    color: rgba(47, 142, 142, 1);
    transition: all 1s;
}

.pacesAnimado{
    width: 600px;
    margin-top: 20px;
    margin-left: 20px;
}

.pacotes{
    width: 100%;
    height: 700px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.pacoteMundos{
    background-color: #c3cccb;
    width: 485px;
    height: 100%;
    border-radius: 70px;
    box-shadow: black 10px 10px 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: all 1s;
    cursor: pointer;
}
.pacoteMundos:hover{
    transform: scale(1.06);
    transition: all 1s;
    border-radius: 50px;
}
.pacoteMundos:hover a{
    color: rgba(47, 142, 142, 1);
    background-color: #c3cccb;
    border-radius: 70px;
}
.pacoteMundos a{
    clear: both;
    display: block;
    font-size: 40px;
    border: 0px solid rgba(47, 142, 142, 1);
    background-color: rgba(47, 142, 142, 1);
    border-radius: 0px 0px 70px 70px;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 500;
    transition: all 1s;
    margin-top: auto;
    padding: 15px 0px;
}
.gaby2Selecao{
    margin: 0 20% 0 20%;
    width: 60%;
}


.pacoteMundos h3{
    width: 100%;
    color: rgba(18, 113, 84, 1);
    line-height: 1.2;
    font-size: 60px;
    text-align: center;
    font-weight: 600;
    margin: auto;
}
.selecionarMundo{
    font-size: 85px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin: 0;
}

.parte2Selecao{
    background: url(../assets/bolha.svg) fixed no-repeat;
    background-size: cover;
    width: 100%;
}
.parte3Selecao{
    background-color: rgba(170, 222, 209, 0.876);
    width: 90%;
    border-radius: 60px;
    min-height: 210px;
    height: auto;
    margin: auto;
    margin-top: 80px;
    overflow: hidden;
}

.pack1{
    font-size: 30px;
    width: 45%;
    text-align: left;
    float: left;
    display: block;
    margin-left: 1.5%;
    text-shadow: rgba(0, 0, 0, 0.661) 1px 1px 1px;
}
.pack2{
    font-size: 30px;
    width: 45%;
    text-align: right;
    float: right;
    display: block;
    margin-right: 1.5%;
    text-shadow: rgba(0, 0, 0, 0.661) 1px 1px 1px;
}

.parte5Selecao{
    clear: both;
    margin-top: 170px;
}
.parte5Selecao h3{
    color: rgb(223, 255, 251);
    font-size: 85px;
    text-align: center;
    margin-bottom: 0;
}

.parte5Selecao p{
    text-align: center;
    text-justify: inter-word;
    font-size: 28px;
    margin-top: 0px;
    margin: auto;
    width: 30%;
    text-shadow: rgba(0, 0, 0, 0.234) 0px 3px 3px;
    color: #fff;
}


.botaoContainer {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaço entre os botões */
    margin-bottom: 20px; /* Espaço inferior dos botões */
}
.botao {
    font-size: 2vw;
    color: white;
    font-family: 'Poppins';
    font-weight: 500;
    width: 20%;
    border-radius: 1.2vw;
    border: 4px solid rgba(47, 142, 142, 1);
    box-sizing: border-box;
    padding: 3px;
    background-color: rgba(47, 142, 142, 1);
    transition: all 0.5s;
    margin-top: 50px;
}

.botao:hover {
    color: rgb(255, 255, 255);
    background-color:#ffffff00;
    width: 22%;
    border: 4px solid rgb(255, 255, 255);
}

.botao.active {
    color: rgba(47, 142, 142, 1);
    background-color: white;
}

article {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

article div {
    background-color: rgba(193, 210, 204, 1);
    width: 28%;
    height: 18vw;
    border-radius: 2.5vw;
    margin-top: 50px;
}

